[submodule "Transformer-Explainability"]
	path = trans-exp
	url = git@github.com:xingcw/Transformer-Explainability.git
[submodule "probing-vits"]
	path = probing-vits
	url = git@github.com:xingcw/probing-vits.git
[submodule "vit-explain"]
	path = vit-explain
	url = git@github.com:xingcw/vit-explain.git
[submodule "trans-mm-exp"]
	path = trans-mm-exp
	url = git@github.com:xingcw/Transformer-MM-Explainability.git
[submodule "gradcam"]
	path = gradcam
	url = git@github.com:xingcw/pytorch-grad-cam.git
